<?xml version="1.0" encoding="UTF-8"?>
<Response>
    <Message><Body>
        <%= help_overview() %>
    </Body></Message>
    <Message><Body>
        <%= help_commands() %>
    </Body></Message>
</Response>