/* This file is for your main application css. */

.registration-background {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.registration-background .registration-form {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}